%li
  .listIcon
    = image_tag image_name
  .listText
    %h1= task[:name]
    %p= task[:description]
  .status
    %p Task Due In
    %h1= pluralize (task[:date] - Date.today).to_i, 'Day'
  .action
    %input#remind.get{ 'data-path' => complete_task_path(task[:id]) } Send Reminder
    %input#complete.get{ 'data-path' => complete_task_path(task[:id]) } Task Completed
  .action.complete{ :style => 'display:none' }
    %input#completed.get{ 'data-path' => uncomplete_task_path(task[:id]) } Send Reminder
    %input#unComplete.get{ 'data-path' => uncomplete_task_path(task[:id]) } Reopen Task