%li
  .listIcon
    = image_tag image_name
  .listText
    %h1= task[:name]
    %p= task[:description]
  .status
    %p Task Due In
    %h1= pluralize (task[:date] - Date.today).to_i, 'Day'
  .action
    %input#remind{ :type => 'submit', :value => 'Remind Buyer' }
    %input#complete{ :type => 'submit', :value => 'Task Completed' }