%li
  .listIcon
    = image_tag image_name
  .listText
    %h1= task[:name]
    %p= task[:description]
  .status
    %p Task Due In
    %h1= pluralize (task[:date] - Date.today).to_i, 'Day'
  .action.incomplete{ 'data-id' => task[:id], :style => task[:done] == 1 ? 'display:none' : '' }
    %button#remind.get{ :type => 'submit', 'data-path' => complete_task_path(task[:id]) } Send Reminder
    %button#complete.get{ :type => 'submit', 'data-path' => complete_task_path(task[:id]) } Complete Task
  .action.complete{ 'data-id' => task[:id], :style => task[:done] == 0 ? 'display:none' : '' }
    %button#completed.get{ :type => 'submit', 'data-path' => uncomplete_task_path(task[:id]) } Task Complete
    %button#unComplete.get{ :type => 'submit', 'data-path' => uncomplete_task_path(task[:id]) } Reopen Task