<% content_for :head do %>
<script> 
	$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
		});
	});
	</script>
<% end %>
<% content_for :sidebar do %>
<ul>

  <li id="escrow">+ Add Escrow +</li>


 <div class="demo"> 

 <div id="accordion"> 
 	<h3><a href="#">1746 N. Orange Dr. Hollywood, CA</a></h3> 
 	<div> 
 		<p><STRONG>Buyer</strong><br>
      Asher Kyle Hunt<br>
      336.596.3588<br>
      asherhunt@gmail.com<br><br>

      <STRONG>Buyer</strong><br>
        Asher Kyle Hunt<br>
        336.596.3588<br>
        asherhunt@gmail.com<br><br>

        <STRONG>Buyer</strong><br>
          Asher Kyle Hunt<br>
          336.596.3588<br>
          asherhunt@gmail.com<br><br>

          <STRONG>Buyer</strong><br>
            Asher Kyle Hunt<br>
            336.596.3588<br>
            asherhunt@gmail.com<br><br></p> 
 	</div> 
 	<h3><a href="#">612 Santa Monica Blvd, Los Angeles, CA</a></h3> 
 	<div> 
 		<p><STRONG>Buyer</strong><br>
      Asher Kyle Hunt<br>
      336.596.3588<br>
      asherhunt@gmail.com<br><br>

      <STRONG>Buyer</strong><br>
        Asher Kyle Hunt<br>
        336.596.3588<br>
        asherhunt@gmail.com<br><br>

        <STRONG>Buyer</strong><br>
          Asher Kyle Hunt<br>
          336.596.3588<br>
          asherhunt@gmail.com<br><br>

          <STRONG>Buyer</strong><br>
            Asher Kyle Hunt<br>
            336.596.3588<br>
            asherhunt@gmail.com<br><br></p> 
 	</div> 
 	<h3><a href="#">101 La Cienega Blvd. Hollywood</a></h3> 
 	<div> 
 		<p>
<STRONG>Buyer</strong><br>
  Asher Kyle Hunt<br>
  336.596.3588<br>
  asherhunt@gmail.com<br><br>
  
  <STRONG>Buyer</strong><br>
    Asher Kyle Hunt<br>
    336.596.3588<br>
    asherhunt@gmail.com<br><br>
    
    <STRONG>Buyer</strong><br>
      Asher Kyle Hunt<br>
      336.596.3588<br>
      asherhunt@gmail.com<br><br>
   
      <STRONG>Buyer</strong><br>
        Asher Kyle Hunt<br>
        336.596.3588<br>
        asherhunt@gmail.com<br><br>
 		  </p> 
 	</div> 
 	<h3><a href="#">1555 Capri Dr. Pacific Palisades, CA</a></h3> 
 	<div> 
     		<p>
    <STRONG>Buyer</strong><br>
      Asher Kyle Hunt<br>
      336.596.3588<br>
      asherhunt@gmail.com<br><br>

      <STRONG>Buyer</strong><br>
        Asher Kyle Hunt<br>
        336.596.3588<br>
        asherhunt@gmail.com<br><br>

        <STRONG>Buyer</strong><br>
          Asher Kyle Hunt<br>
          336.596.3588<br>
          asherhunt@gmail.com<br><br>

          <STRONG>Buyer</strong><br>
            Asher Kyle Hunt<br>
            336.596.3588<br>
            asherhunt@gmail.com<br><br>
     		  </p>
 	</div> 
 </div> 

 </div>
  
<% end %>

<div id='main'>
<div class="containerAdmin">
    <div class="timeline">
    </div>
    <ul>
      <% @tasks.each do |task| %>
        <%= render 'task', :task => task %>
      <% end %>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    <li>
      <div class="listIcon"></div>
      <div class="listText">
        <h1>Inspection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmaod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="status">
        <img src="#">
        <p>Task Due In</p>
        <h1>12 Days</h1>
      <input class="" type=submit>
      </div>
    </li>
    </ul> 
</div>
</div>