<% content_for :head do %>
<script> 
	$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
		});
	});
	</script>
<% end %>
<% content_for :sidebar do %>
<ul>

  <li id="escrow">+ Add Escrow +</li>


 <div class="demo"> 

 <div id="accordion"> 
   <% @projects.each do |project| %>
     <%= render 'project', :project => project %>
   <% end %>

 </div> 

 </div>
  
<% end %>

<div id='main'>
  <div class="containerAdmin">
    <%= render 'tasks' %>
  <div>
</div>