<div class="about">
  <center>
    <img src="images/logobig.png">
  <h1>Finally, you have the ability to easily track the state of your escrow.</h1>
  <input id="welcomeButton" type=submit value="It All Starts Here...">
  </center>
</div>
